<!DOCTYPE html>
<html lang="en-GB">
  {% include "./partials/siteHead.njk" %}

  <body class="no-js">
    {# Hide body so we can transition in with JS #}
    <script>
      document.body.classList.add('is-loading');
    </script>
    <div class="hidden">
      {% include './partials/sprite.svg' %}
    </div>

    {% if page.url == '/' %}
      {% set showHomeLink = false %}
    {% else %}
      {% set showHomeLink = true %}
    {% endif %}

    {% include "./partials/header.njk" %}

    <main class="main">
      {% block content %}{% endblock %}
    </main>

    {% include "./partials/footer.njk" %}
    <!--JS-->
    {% if version.js | length == 0 %}
      {% set JsVersion = '' %}
    {% else %}
      {% set JsVersion = version.js %}
    {% endif %}
    <script src="/index{{ JsVersion }}.js"></script>
  </body>
</html>