<div class="c-projects">
  <figure class="c-projects__fig">
    <div class="c-projects__img-wrapper-outer">
      <div class="c-projects__img-wrapper">
        <img src="/project-io-viz.jpg" alt="Screenshot of Intersection Observer Visualiser tool">
      </div>
    </div>
    <figcaption class="c-projects__caption"><a href="">Intersection Observer visualiser</a></figcaption>
  </figure>
  <figure class="c-projects__fig">
    <div class="c-projects__img-wrapper-outer">
      <div class="c-projects__img-wrapper">
        <img src="/project-compound-grid.jpg" alt="Screenshot of compound grid generator tool">
      </div>
    </div>
    <figcaption class="c-projects__caption"><a href="">Compound Grid Generator</a></figcaption>
  </figure>
</div>