<div class="c-divider"></div>

<section class="section section--contact" data-section id="contact">
  <div class="c-section__content" data-section-content>
    <div class="container">
      <h2 class="c-section__heading" data-heading>
        {{ post.data.pageTitle }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 781.4 40.9"><path fill="none" stroke-miterlimit="10" stroke-width="5" pathLength="1" d="M.7 1.4l37.2 38L75 1.4l37.1 38 37.2-38 37.1 38 37.2-38 37.1 38 37.1-38 37.2 38 37.1-38 37.2 38 37.1-38 37.1 38 37.2-38 37.1 38 37.2-38 37.1 38 37.2-38 37.1 38 37.2-38 37.1 38"/></svg>
      </h2>
      <div class="c-section__inner-content" data-content>
        <div class="o-richtext">
          {{ post.data.content | safe }}
        </div>
        <div class="c-section__social-list">
          {% include "./social-icons.njk" %}
        </div>
        <div class="o-richtext">
          <p>Or email me at <a href="mailto:{{ metadata.author.email }}">{{ metadata.author.email }}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>