{% if version.css | length == 0 %}
  {% set CssVersion = '' %}
{% else %}
  {% set CssVersion = version.css %}
{% endif %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>{{ metadata.title }}</title>
  <meta name="Description" content="{{ metadata.description }}">
  <link rel="stylesheet" href="/styles{{ CssVersion }}.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <meta property="og:title" content="{{ metadata.title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="{{ metadata.description }}"/>
  <meta property="og:image" content="{{ metadata.url }}{{ metadata.img }}"/>

  {# Favicon #}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff1493">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  {# OG data #}
  <meta property="og:url" content="{{ metadata.url }}"/>
  <meta property="og:site_name" content="{{ metadata.title }}"/>
  <meta name="twitter:card" content="summary_large_image"/>
</head>